html {
    box-sizing: border-box;
    font: 400 14px 'Poppins', sans-serif, 'Times New Roman', Times, serif;
}

*, 
* ::before
* ::after {
    box-sizing: inherit ;
}

nav {
    background-color: rgb(0, 0, 0);
    margin: 0 auto 3px;
    padding: 1px;
    width: 100%;
    text-align: center;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 9px;
    padding: 20px;
    gap: 10px;
}

nav li {
    display:inline-block;
}

nav a {
    background-color: #C3CF9F;
                font-family: "Poppins", Sans-serif;
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                font-style: normal;
                text-decoration: none;
                line-height: 1.3em;
                letter-spacing: 1.53px;
                fill: #0F1509;
                color: #0F1509;
                border-style: solid;    
                border-spacing: 1px;       
                border-width: 2px 2px 2px 2px;
                min-width: 100px;
                border-color: #C3CF9F;
                border-radius: 10px 10px 10px 10px;
                padding: 15px 20px 15px 20px;
                }   


nav a:link, 
nav a:visited {
    color:#010200;
    text-decoration: none;
}

nav a:hover,
nav a:active {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:#89907d;
}

body {
    background-color: #080404; /* fallback color */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
     width: 100%;
     height: 100%;
     object-fit: cover;
    display: block;

}
header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.3em;
    word-spacing: 0em;
    color: #FEFAE0;
    margin: 50px 100px 20px 100px;
    border: 266px;
    position: 266px; 
    margin-right: 788px;
    margin-top: 200px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.3em;
    word-spacing: 0em;
    color: #FEFAE0;
    margin: 20px 100px 20px 100px;
    border: 266px;
    position: 266px; 
    margin-top: 100px;
}

h2 {
    text-align: left;
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 0px;
    word-spacing: 0em;
    color: rgb(201, 204, 201);
    margin: 20px 100px 20px 100px;
    position: 266px;
    margin-right: 680px;
    margin-top: 8px;
}

h3 {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    word-spacing: 0em;
    border-width: 1px;
    padding: 15px 30px;
    margin: 20px 100px 20px 100px;
    margin-top: px;
    margin-right: 129px;
    line-height: 1.3em;
    letter-spacing: 1.53px;
    fill: #0F1509;
    color: #0F1509;
    border-style: solid;    
    border-color: #C3CF9F;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 20px 15px 20px;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
}

h3:link, 
h3:visited {
    color:#a4ad96;
    text-decoration: none;
    font-family: "Poppins", Sans-serif;
}
h3:hover,
h3:active {
    font-family: "Poppins", Sans-serif;
    background-color: #C3CF9F;
    text-decoration: none;
    color: #C3CF9F;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0F1509;
}

img {
     width: 100%;
     height: 100%;
     object-fit: cover;
    display: block;
}


.parent {
   display: grid;
grid-template-columns: repeat(9, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    width: 1100px;
    height: 680px;
    margin: auto;
    grid-column-gap: 1px; 
    grid-row-gap: 1px;
    grid-row: middle;
    align-items: flex-start;
    align-items: center;
    justify-items: center;
}

.div1 { grid-area: 1 / 7 / 7 / 10; }
.div2 { grid-area: 1 / 4 / 7 / 7; }
.div3 { grid-area: 1 / 1 / 7 / 4; }

footer {
   font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    line-height: 25px;
    color: #FEFAE0;
    border-radius: 0px;
    box-sizing: border-box;
    background-color: #a4ad96;
    color: #FEFAE0;
    padding: 9px;
    padding-block: calc();
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    width: 999;
    margin-right: 0%;
    align: left;
    font-family: "Roboto", Sans-serif;
font-size: 16px;
font-weight: 300;
    align-self: center;
    padding-inline-start: 5px;
    text-align: center;
}

footer a {
font-family: poppins, sans-serif;
font-weight: 600;
font-style: normal;
text-decoration: none;
line-height: 25px;
color: #FEFAE0;
border-radius: 88px;
align-self: center;
padding-inline-start: 5px;
text-align: center;
}

.colI,
.coL2,
.co13 {
    display: block;
    float: left;
    width: 33%;
    padding: 10px;
}

footer p {
    margin: 0;
}

