html {
    box-sizing: border-box;
    font: 400 14px 'Poppins', sans-serif, 'Times New Roman', Times, serif;
    color: #a4ad96;
    
}

*, 
* ::before
* ::after {
    box-sizing: inherit ;
     background-color: #C3CF9F;
                font-family: "Poppins", Sans-serif;
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                font-style: normal;
                text-decoration: none;
                line-height: 1.3em;
                letter-spacing: 1.53px;
                fill: #0F1509;
                color: #0F1509;
                border-style: solid;    
                border-width: 1px 1px 1px 1px;
                border-color: #C3CF9F;
                border-radius: 10px 10px 10px 10px;
                padding: 15px 20px 15px 20px;
                }   

nav {
    background-color: rgb(0, 0, 0);
    margin: 0 auto 3px;
    padding: 1px;
    width: 100%;
    text-align: center;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 9px;
    padding: 20px;
}

nav li {
    display:inline-block;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: #a4ad96;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px
}


nav a:link, 
nav a:visited {
    color:#a4ad96;
    text-decoration: none;
}

nav a:hover,
nav a:active {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:#89907d;
}

body {
    background-color: #080404; /* fallback color */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
width: 60%;
background-color: rgba(255, 255, 255, 0.5); /* pick a color that contrasts with your image */
color: #FEFAE0;
padding: 2rem; /* You decide on your transparency. Your text color */
border-radius: 2rem;
margin: 2rem auto;
text-align: center;
}


h1 {
font: 1em sans-serif;
font-size: 1.5rem;
color: #FEFAE0;
text-align: left;
margin-bottom: .4rem;
text-decoration: none;
}   

h2 {
font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.3em;
    word-spacing: 0em;
    color: #FEFAE0;
    margin: 50px 100px 20px 100px;
    border: 266px;
    position: 266px; 
    margin-right: 900px;
    margin-top: 200px;
}

h3 {
font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    font-weight: 300;
color: #FEFAE0;
margin: 3rem 0;
}

div {
margin-bottom: .5rem;
text-align: center;
font: 1em sans-serif;
}       

ul {
list-style-type: circle;
padding-left: 2rem;
text-align: center;
}   

nav {
text-align: center;
margin-bottom: 3.5rem;
}

nav li {
display: inline-block;
align-items: center;
}   

nav a {
   background-color: #C3CF9F;
                font-family: "Poppins", Sans-serif;
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                font-style: normal;
                text-decoration: none;
                line-height: 1.3em;
                letter-spacing: 1.53px;
                fill: #0F1509;
                color: #0F1509;
                border-style: solid;    
                border-width: 1px 1px 1px 1px;
                border-color: #C3CF9F;
                border-radius: 10px 10px 10px 10px;
                padding: 15px 20px 15px 20px;
                }   

.policies {
margin-bottom: 2rem;
text-align: left;
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 0px;
    word-spacing: 0em;
    color: rgb(201, 204, 201);
    margin: 20px 100px 20px 100px;
    position: 266px;
    margin-right: 680px;
    margin-top: 8px;
}

form {
padding-left: 3rem;

}

.radio {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.span {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.label for [name="ocean-view"][value="yes"]
/* radio inputs */
input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* optional: target specific radios */
input[name="ocean-view"][value="yes"],
input#ocean-view {
    /* custom styles for the "yes" radio */
}

/* label styling by for attribute */
label[for="ocean-view"],
label[for="ocean-view-no"] {
    display: inline-block;
    margin-right: 0.6rem;
    text-transform: uppercase;
}

label,
span {
min-width: 120px; /* (0, 0, 1) */
margin-right: 2px; /* to add space between label and input */
text-align: right;
text-transform: uppercase;
}

.radio label {
width: 12px;
}

span {
margin-top: 20px;
margin-bottom: 20px
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox],
input[type=password] { 
padding: 8px;
margin: 8px 0;
border: none;
border: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 7px
}

textarea {
border-radius: 7px;
border: 1px solid rgba(0, 0, 0, 0.12);
padding: 1px;
margin: 8px 0;
width: 300px;
height: 100px;
resize: vertical;
}

input[type=checkbox],
input[type=radio] {
width: 18px;
height: 18px;
cursor: pointer;
}   

button {
background-color: rgb(252, 253, 252);
color: rgb(0, 0, 0);
padding: .8rem; 
margin-bottom: 1rem;
border-radius: 8px;
text-transform: uppercase;
font-size: .75rem;
letter-spacing: 1px;
font-weight: 600;
cursor: pointer;
border: none;
}

button[type=submit] {
margin-top: 2rem
}

