html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

*, 
* ::before
* ::after {
    box-sizing: inherit ;
}

nav {
    background-color: rgb(0, 0, 0);
    margin: 0 auto 3px;
    padding: 1px;
    width: 100%;
    text-align: center;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 9px;
    padding: 20px;
}

nav li {
    display:inline-block;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: #a4ad96;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px
}


nav a:link, 
nav a:visited {
    color:#a4ad96;
    text-decoration: none;
}

nav a:hover,
nav a:active {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:#89907d;
}






